registry=https://registry.npmjs.org/
fetch-timeout=600000
fetch-retry-mintimeout=30000
fetch-retry-maxtimeout=300000
maxsockets=50
maxretries=5
cache-min=9999999
prefer-offline=true
audit=false
fund=false
optional=false
cache=.npm-cache
